<?xml version="1.0" encoding="UTF-8"?>
<!-- START: imohitmehto | 2026-08-25 | FIX: Removed Collision listener (incompatible with PHP 8.4 / PHPUnit 9.6) -->
<!-- Removed deprecated PHPUnit attributes: convertDeprecationsToErrors, convertErrorsToExceptions, etc. -->
<!-- END: imohitmehto | FIX: PHPUnit config for PHP 8.4 -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnRisky="true"
         failOnWarning="false">

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <directory>./app/Console</directory>
            <directory>./app/Exceptions</directory>
            <directory>./app/Providers</directory>
            <directory>./app/Helpers</directory>
        </exclude>
    </coverage>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="FILESYSTEM_DISK" value="local"/>
        <env name="APP_DEBUG" value="true"/>
    </php>

    <!-- Collision listener removed: incompatible with PHP 8.4 / PHPUnit 9.6 -->

</phpunit>
